<!DOCTYPE html>
<html ng-app>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/lib/angular.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Evaluación</h1>
            <h4>Angular 101</h4>
            <hr>
            <p>
                Nombre completo: 
                <br>
                <input type="text" ng-model="name" class="form-control" placeholder="Ingrese su nombre">
            </p>
            <p>
                Lugar de trabajo 
                <input type="text" ng-model="workplace" class="form-control" placeholder="Ingrese el lugar de trabajo">
            </p>
            <p>
                Salario dolares 
                <input type="text" ng-model="salary" class="form-control" placeholder="Ingrese su salario">
            </p>
            <hr>
            <br>
            Nombre: {{name | uppercase}}
            <br>
            Lugar de trabajo: {{workplace || lowercase}}
            <br>
            Con un salario de : {{salary | currency}}
        </div>
    </body>
</html>